* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.btn {
  margin: 2rem;
  padding: 1rem;
  background-color: rgba(0, 255, 0, 0.3);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: medium;
  color: #222;
}

#gify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  border: none;
  border-radius: 5px;
}

#searchfield {
  width: 20;
  border-radius: 5px;
  padding: 1rem;
  border: none;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
